
/* Default styles for PC */
.UpdateTreatment-container {
  width: 620px;
  padding: 20px;
  border: 1px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 80px;
  margin-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Center the container horizontally */

/* Mobile styles */
@media (max-width: 600px) {
  .UpdateTreatment-container {
    width: 100%;
    max-width: 400px; /* Adjust the max-width for mobile devices */
    margin: 20px; /* Adjust margin for spacing on mobile */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    border-radius: 8px;
  }
}

  
  .UpdateTreatment-link {
    text-decoration: none;
    color: #007bff;
  }
  
  .UpdateTreatment-link:hover {
    text-decoration: underline;
  }
  
  .UpdateTreatment-heading {
    color: #333;
  }
  
  .UpdateTreatment-form {
    margin-top: 20px;
  }
  
  .UpdateTreatment-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .UpdateTreatment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Optional: Add border to input fields */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  }
  
  .UpdateTreatment-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  }
  
  .UpdateTreatment-button:hover {
    background-color: #0056b3;
  }
  

  .UpdateTreatment-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px dashed #28a745; /* Warna hijau */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; /* Efek transisi pada hover */
  }
  
  .UpdateTreatment-dropzone:hover {
    background-color: #28a745; /* Warna hijau lebih gelap pada hover */
    color: #fff; /* Warna teks putih pada hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan pada hover */
  }
  
  .UpdateTreatment-dropzone p {
    margin: 0;
  }
  
  .UpdateTreatment-uploaded-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* UpdateTreatment.css */

.UpdateTreatment-preview-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
