.user-access-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .loading-animation {
    width: 100px;
    height: 100px;
  }
  

  /* Default styles */
.login-form {
  display: inline-block;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .login-form {
    width: 60%; /* Atur ulang lebar form untuk tampilan mobile */
    margin: 0 auto; /* Memusatkan form pada layar mobile */
  }
}

/* Tablet styles (if needed) */
@media (min-width: 768px) and (max-width: 1023px) {
  .login-form {
    /* Pengaturan untuk tampilan tablet, jika diperlukan */
  }
}

/* PC styles */
@media (min-width: 1024px) {
  .login-form {
    /* Pengaturan untuk tampilan PC di sini */
  }
}

  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Warna garis tepi input */
    border-radius: 5px; /* Sudut bulat pada input */
  }
  
  .login-form button {
    background-color: #4caf50; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    padding: 10px 15px;
    border: none;
    border-radius: 5px; /* Sudut bulat pada tombol */
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #45a049; /* Warna latar belakang tombol saat hover */
  }

/* UserAccess.css */

/* ... (kode sebelumnya) ... */

.login-form button {
  background-color: #3498db; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  padding: 12px 20px;
  border: none;
  border-radius: 5px; /* Sudut bulat pada tombol */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.login-form button:hover {
  background-color: #2980b9; /* Warna latar belakang tombol saat hover */
}

/* ... (kode setelahnya) ... */

.hidden-text {
  display: none;
}
